:root {
  --primary: #20d920;
  --secondary: #9b00e6;
  --bg-primary: #0f0f0f;
  --bg-secondary: #423c45;
  --bg-tertiary: #2b2b2b;
  --text: #f4fbf1;
  --text-secondary: #0f0f0f;
  --danger-low: #24ff4e;
  --danger-medium: #fca307;
  --danger-high: #ff4e4e;
}